
<div class="row">
    <div class="col-sm-6">
        <p style="text-align: center;">
            This is to notify that Our garments has many product to sell and expand our business across the country
            moreover the the world .So there are excelletn designer in our company . The companay has more  than one suboffice 
            different countries in the world.
        </p>
    </div>
    <div class="col-sm-6">
        <h1 class="text-success" style="text-align: center;">SubOffice List</h1>
        <ul style="list-style-type: none;">
            <li> Canbera,Australia</li>
            <li>Dehli,India</li>
            <li>Kualalampur,Malaysia</li>
            <li>New York,USA</li>
            <li>London,UK</li>

        </ul>
    </div>
    

</div>
