<div class="container">
  <h1 class="text-success" style="text-align: center;">  Designlist </h1>
  <table class="table table-bordered table-hover" >
    <thead>
      <tr>
        <th>DesignId</th>
        <th>OrderId</th>
        <th>Design Name</th>
        <th>Design Image URL</th>
        <th>Status</th>
        <th>Remarks</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Data rows -->
       @for (item of collect_order; track item) {
        <tr>
          <td>{{item.design_id}}</td>
          <td>{{item.order_id}}</td>
          <td>{{item.design_name}}</td>
          <td>{{item.design_image_url}}</td>
          <td>{{item.status}}</td>
          <td>{{item.remarks}}</td>
          <td>
            <button type="button" class="btn btn-success" (click)="Edit(item)">edit</button>
            <button type="button" class="btn btn-danger" (click)="Delete(item)">delete</button>
          </td>
        </tr>
       }
    </tbody>
  </table>
  
</div>