<div class="container">
  <h1 class="text-success" style="text-align: center;">Quality Control List</h1>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>QC ID</th>
        <th>Order ID</th>
        <th>Inspection Date</th>
        <th>Passed Qty</th>
        <th>Rejected Qty</th>
        <th>Remarks</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Data rows -->
       @for (item of collect_order; track item; let i= $index) {
          
        <tr>
          
        <td>{{i+1}}</td>
        <td>{{i+1}}</td>
        <td>{{item.inspection_date}}</td>
        <td>{{item.rejected_qty}}</td>
        <td>{{item.remarks}}</td>
        <td>{{item.passed_qty}}</td>
        <td>
          <button class="btn btn-success" type="button"  (click)="Edit(item)">Edit</button>
          <button class="btn btn-danger" type="button"  (click)="Delete(item)">Delete</button>
        </td>
        </tr>
       
       }
    </tbody>
  </table>
  
</div>