<div class="container">
  <h1 class="text-success" style="text-align: center;">fabriclist</h1>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
      
        <th>Fabric ID</th>
        <th>Order ID</th>
        <th>Fabric Type</th>
        <th>Fabric Qty</th>
        <th>Received Date</th>
        <th>Available Stock</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Data rows -->
       @for (item of collect_order; track item) {

        <tr>
          <td>{{item.fabric_id}}</td>
          <td>{{item.order_id}}</td>
          <td>{{item.fabric_type}}</td>
          <td>{{item.fabric_qty}}</td>
          <td>{{item.available_stock}}</td>
          <td>{{item.received_date}}</td>
          <td>
            <button type="button" class="btn btn-success" (click)="Edit(item)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="Delete(item)">Delete</button>
          </td>
        </tr>
       }

    </tbody>
  </table>
  
</div>